.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,1fr);
    min-height: 100vh;
}
.header{
    background-color: lightblue;
    grid-column: 1/5;
    grid-row: 1/2;
}
.nav{
    background-color: lightcoral;
    grid-column: 1/5;
    grid-row: 2/3;
}
.section{
    background-color: lightcyan;
    grid-column: 1/4;
    grid-row: 3/9;
}
.aside{
    background-color: lightgoldenrodyellow;
    grid-column: 4/5;
    grid-row: 3/9;
}
.footer{
    background-color: lightgreen;
    grid-column: 1/5;
    grid-row: 9/10;
}
